.vscode/
# data/ATL03_20230816235231_08822014_006_01.h5

# Prerequisites
*.d

# H5 Files and NC
*.nc
*.h5

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Application Specific
build/
stage/
.cookies
cscope.*
*.log
.clangd/
.clang-format
compile_commands.json
report.pdf
report.xml
